#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 100px;
	margin-bottom: 4rem;
}

.self-image {
  	border: 1px solid white;
  	margin: 1rem;
  	border-radius: 400px;
  	height: 23rem;
  	width: 23rem;
  	background-position: center;
  	background-size: cover;
}

.photo-outline {
	border-radius: 4000px; 
	border: .4rem dotted #42f593;
	margin-bottom: 3.5rem;
	transition: all 2s;
}

@media screen and (max-width: 900px) {
	.photo-outline {
		border: .8rem dotted white;
	}
	#about {
		margin-top: 2rem;
	}
}

p {
	width: 45%;
	padding: 10px;
	margin: 10px;
}