#education {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 60vh;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

#education > h1 {
	position: relative;
}

.edu-wrap {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 4rem;
}

.edu-card {
	margin: .5rem;
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 1rem; 
	margin-bottom: .5rem;
	outline: none;
	border: 2px solid #42f593;
}


@media screen and (max-width: 900px) {
	.edu-wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.edu-left {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.edu-logo {
	width: 8rem;
	height: 8rem;
}

.edu-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	line-height: 30px;
}